.Burger {
    width: 25%;
    height: 250px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    overflow: scroll;
}

@media  (min-width: 500px) and (min-height: 401px) {
    .Burger {
        width: 450px;
        height: 400px;
    }
}